* {
  max-height: fit-content;
  text-align: center;
  margin: auto;
  
 
  
}

body {
  background-image: linear-gradient(to left bottom, #151516, #121314, #0e1112, 
  #090f0f, #050c0a, #050c09, #060c09, #060c08, #0a0f0d, #0e1211, #121414, #151616);
  color: white;
  font-family: 'Albert Sans', sans-serif;
  

}



header {
  height: 35vh;
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

header {
  background-image: url(https://eststatic.com/5573/conversions/frases-rick-morty-default.jpg);
  background-size:contain;
  background-position: top center;
  font-family: 'Creepster', cursive;
  font-size: xx-large;
  color: #c1fdaa;
  text-shadow: 
    0 0 5px rgb(0, 0, 0), 0 0 10px rgb(32, 48, 41), 0 0 15px #FFF, 
    0 0 20px #49ff18, 
    0 0 30px #49FF18, 0 0 40px #39c712, 0 0 55px #49FF18, 
    0 0 75px #49ff18, 2px 2px 11px rgba(38,17,10,0.28);
}

.input-search{
width: 80%;
height: 90px;
margin: auto;
display: flex;
flex-direction: column;
padding: 3%;
gap: 10%;

}

input {
  display:inline-block;
  height: 40%;
  width: 30%;
  border-radius:10px;
  background-color: #60e73b ;
  box-shadow: 0px 0px 18px 6px rgba(24,175,34,0.7);
  font-family: 'Creepster', cursive;
  font-size: x-large;
  color: rgb(63, 61, 61)
}

@media (max-width: 600px) {
  input {
    width: 90%;
   
  }
}

button{
  
  display:inline-block;
  height: 40%;
  width: 10%;
  border-radius:5px;
  font-size: medium;
  background-color: #193532;
  color: #d8f8cf;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 18px 6px rgba(24,175,34,0.7);
  padding: 0.5%;
  
}
@media (max-width: 600px) {
  button {
    width: 40%;
   
  }
}


.location-info {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: large;
 
 
}

.underline {
  width: 50%;
  border: 1px solid white;
  box-shadow: 0px 0px 18px 6px rgba(24,175,34,0.7);
 
}

ul {
  width: 95%;
  margin: 50px auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  
 
  
}

@media (max-width: 600px) {
  ul {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
   
  }
}


li{
  border-radius: 20px;
  padding: 5%;
  background: #112523;
  box-shadow: 0px 0px 20px 2px rgba(24,175,34,0.7);
  
}

li:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px 2px rgba(0, 240, 16, 0.7);
  background: #060e0d;
  
}


.card-image{
  margin-bottom: 5%;
  border-radius: 15px;
}

.App {
  position: relative;
}

footer{
  background-image: 
    linear-gradient(to right top, #060f0e, #050d0d, #050c0b, #040a0a, #040808, 
    #040707, #030606, #030505, #030505, #030505, #020505, #020505);
  padding: 20px;
}